<div class="navbar">
  <a (click)="navigate('visiting')">{{ 'HOME.VISITINGCARD' | translate }}</a>
  <a (click)="navigate('curriculum')">{{ 'HOME.CURRICULUMVITAE' | translate }}</a>
  <a (click)="navigate('projects')">{{ 'HOME.PROJECTS' | translate }}</a>
  <div class="dropdown" style="position: absolute; right: 5vw;">
    <select class="dropbtn" #langSelect (change)="translate.use(langSelect.value)">
      <option class="dropdown-content" *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
        {{ lang }}</option>
    </select>
    
  </div> 
</div>

<router-outlet></router-outlet>
