<table style="width: 100vw;">
  <tr>
    <th>
      <button style="margin: 1vw; background-color: #ffffff;"
        class="w3-btn w3-border w3-round-large" (click)="navigate('visiting')"
        id="btn_visiting">{{ 'HOME.VISITINGCARD' | translate }}</button>
    </th>
    <th>
      <button style="margin: 1vw; background-color: #ffffff;"
        class="w3-btn w3-border w3-round-large" (click)="navigate('curriculum')"
        id="btn_curriculum">{{ 'HOME.CURRICULUMVITAE' | translate }}</button>
    </th>
    <th>
      <button style="margin: 1vw; background-color: #ffffff;"
        class="w3-btn w3-border w3-round-large" (click)="navigate('projects')"
        id="btn_projects">{{ 'HOME.PROJECTS' | translate }}</button>
    </th>
    <th style="width: 20vw;">
      <label style="font-size: calc(0.5vw + 5px);">
        {{ 'HOME.SELECT' | translate }}
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
            {{ lang }}</option>
        </select>
      </label>
    </th>
  </tr>
</table>

<router-outlet></router-outlet>
