 * {
  font-family: cursive;
  font-size: calc(0.7vw + 5px);
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: block;
  background-color: white;
  overflow: hidden;
}

.fotos {
  position: absolute;
  right: 1px;
  top: 5px;
  width: 60vw;
  height: 25vh;
  background-image: url("../../../assets/images/personaldata/foto_1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30vh;
}