<button class="accordion">{{ 'CURRICULUMVITAE.MENU.PERSONALDATA' | translate }}</button>
<div class="panel">
    <ng-container *ngFor="let item of 'CURRICULUMVITAE.PERSONALDATA' | translate">
        <p>{{item.FIELDNAME}}: {{item.DATA}}</p>
    </ng-container>
</div>

<button class="accordion">{{ 'CURRICULUMVITAE.MENU.WORKEXPERIENCE' | translate }}</button>
<div class="panel">
    <ng-container *ngFor="let item of 'CURRICULUMVITAE.WORKEXPERIENCE' | translate">
        <p>{{item.DATE}}: {{item.FIRMA}} - {{item.POSITION}} - {{item.EXPERIENCE  }}</p>
    </ng-container>
</div>

<button class="accordion">{{ 'CURRICULUMVITAE.MENU.EDUCATION' | translate }}</button>
<div class="panel">
    <ng-container *ngFor="let item of 'CURRICULUMVITAE.EDUCATION' | translate">
        <p>{{item.DATE}}: {{item.SCHOOL}} - {{item.DIRECTION}}</p>
    </ng-container>
</div>

<button class="accordion">{{ 'CURRICULUMVITAE.MENU.SPECIALKNOWLWDGE' | translate }}</button>
<div class="panel" style="display: none;">
    <ng-container *ngFor="let item of 'CURRICULUMVITAE.SPECIALKNOWLWDGE' | translate">
        <p>{{item.NAME}}: {{item.DESCRIPTION}}</p>
    </ng-container>
</div>

<button class="accordion">{{ 'CURRICULUMVITAE.MENU.LINGUISTICPROFICIENCY' | translate }}</button>
<div class="panel" style="display: none;">
    <ng-container *ngFor="let item of 'CURRICULUMVITAE.LINGUISTICPROFICIENCY' | translate">
        <p>{{item.NAME}}: {{item.DESCRIPTION}}</p>
    </ng-container>
</div>

<button class="accordion">{{ 'CURRICULUMVITAE.MENU.OTHER' | translate }}</button>
<div class="panel" style="display: none;">
    <ng-container *ngFor="let item of 'CURRICULUMVITAE.OTHER' | translate">
        <p>{{item.NAME}}: </p>
        <ng-container *ngFor="let i of item.DESCRIPTION">
            <p>{{i.NAME}} - {{i.DESCRIPTION}}</p>
        </ng-container>
    </ng-container>
</div>