<button class="accordion">{{ 'PROJECTS.MENU.ZABENERGIEBERATER' | translate }}</button>
<div class="panel">
  <p>{{ 'PROJECTS.ZABENERGIEBERATER.DESCRIPTION' | translate }}</p>
</div>

<button class="accordion">{{ 'PROJECTS.MENU.ZABTOUCH' | translate }}</button>
<div class="panel">
  <p>{{ 'PROJECTS.ZABTOUCH.DESCRIPTION' | translate }}</p>
</div>

<button class="accordion">{{ 'PROJECTS.MENU.DIGIPARK' | translate }}</button>
<div class="panel">
  <p>{{ 'PROJECTS.DIGIPARK.DESCRIPTION' | translate }}</p>
</div>

<button class="accordion">{{ 'PROJECTS.MENU.DIGIANIMATION' | translate }}</button>
<div class="panel">
  <p>{{ 'PROJECTS.DIGIANIMATION.DESCRIPTION' | translate }}</p>
</div>
